<!DOCTYPE html>
<!-- 本例中的演示：
 3.v-if 条件指令
 4.v-for 循环指令
 5.v-on 监听事件指令
 6.v-model 指示某个表单输入的值要和应用状态进行双向绑定 的指令
 -->
<html>
	<head>
		<meta charset="UTF-8">
		<script src="../vue.js"></script>
	</head>

	<body>
		<!-- v-bind 属性绑定指令-->
		<div id="app-2">
		  <a v-bind:href="url">...</a>
		</div>
		
		<!-- v-if 条件指令-->
		<div id="app-3">
		  <p v-if="seen">现在你看到我了</p>
		</div>
		
		
		<!-- v-for 循环指令循环生成dom元素并完成插值 -->
		<div id="app-4">
		  <ol>
		    <li v-for="todo in todos">
		      {{ todo.text }}
		    </li>
		  </ol>
		</div>
		
		<!-- v-on:监听事件="methods里的函数对象"   处理用户输入 -->
		<!-- 本例可以看出，我们再也不用像以前那样，关心dom操作问题了，只需关注数据和逻辑即可 -->
		<!-- 注意在 reverseMessage 方法中，我们更新了应用的状态，但没有触碰 DOM——所有的 DOM 操作都由 Vue 来处理，你编写的代码只需要关注逻辑层面即可。 -->
		<!-- 修饰符：修饰符 (modifier) 是以半角句号 . 指明的特殊后缀，用于指出一个指令应该以特殊方式绑定。
		 比如下面，在层层嵌套的dom中，可能有多个click事件，但是有时候我只希望子标签的click事件相应，而不触发父级click。那么绑定的时候可以做一些修饰，使用.stop修饰符
		 -->
		
		<div id="app-5"  v-on:click="click1">
		  <p>{{ message }}</p>
		  <button v-on:click.stop="reverseMessage">反转消息</button>
		</div>
		
		
		<!-- v-model 指令: 表单输入和vue的data对象的双向绑定。改变输入框的值，可以看到<p>标签中的文字也发生了改变-->
		<div id="app-6">
		  <p>{{ message }}</p>
		  <input v-model="message">
		</div>
		
		<script>
			var app2 = new Vue({
			  el: '#app-2',
			  data: {
				url: "http://www.baidu.com"
			  }
			})
			
			var app3 = new Vue({
			  el: '#app-3',
			  data: {
			    //seen: true
				seen: false
			  }
			})
			
			var app4 = new Vue({
			  el: '#app-4',
			  data: {
			    todos: [
			      { text: '学习 JavaScript' },
			      { text: '学习 Vue' },
			      { text: '整个牛项目' }
			    ]
			  }
			})
			app4.todos.push({ text: '新项目1' })
			
			var app5 = new Vue({
			  el: '#app-5',
			  data: {
			    message: 'Hello Vue.js!'
			  },
			  methods: {
			    reverseMessage: function () {
			      this.message = this.message.split('').reverse().join('')
			    },
				click1: function(){
					console.log("父级点击事件被执行");
				}
			  }
			})

			
			var app6 = new Vue({
			  el: '#app-6',
			  data: {
			    message: 'Hello Vue!'
			  }
			})
			
		
		</script>

	</body>

</html>